@model LiftViewModel
@{
    ViewData["Title"] = "Home Page";
}<style>
     .Active-border {
         border: 3px solid red !important;
     }

     .Current-lift-border {
         border: 3px solid Orange !important;
     }

     .Idel-border {
         border: 3px solid yellow;
     }


     .Normal-border {
         border: 3px solid gray;
     }

     /* .arrow{
                                                                                              display:contents;
                                                                                          } */
</style>


<form asp-controller="home" asp-action="liftChange" method="post">
    <div class="container col-md-12 row d-flex justify-content-around">
        <div class="col">
            <h2 class="text-center fw-bolder">Lift 1</h2>
            <div class="Floor-container row d-flex justify-content-around">
                <div class="card  Normal-border pt-1 mt-3 lift-1-1 row @(Model.FirstLiftCurrentFloor == 1 ? "Active-border" : "")" style="width: 10rem;">
                    <div class="card-body">
                        <h3>Floor 1</h3>
                    </div>
                </div>
                <div class="arrow d-flex align-items-center col-6">
                    <div class="UpperSide-arrow d-flex m-3">
                        <img src="https://api.iconify.design/majesticons:arrow-up.svg" height="30" onclick="btnUpper(1,1)" />
                    </div>
                    <div class="LowerSide-arrow d-flex">
                        <img src="https://api.iconify.design/material-symbols:arrow-downward.svg" height="30" onclick="btnUpper(1,1)" />
                    </div>
                </div>
            </div>

            <div class="Floor-container row d-flex justify-content-around">
                <div class="card  Normal-border pt-1 mt-3 lift-1-2 row" style="width: 10rem;">
                    <div class="card-body">
                        <h3>Floor 2</h3>
                    </div>
                </div>
                <div class="arrow d-flex align-items-center col-6">
                    <div class="UpperSide-arrow d-flex m-3">
                        <img src="https://api.iconify.design/majesticons:arrow-up.svg" height="30px" onclick="btnUpper(1,2)" />
                    </div>
                    <div class="LowerSide-arrow d-flex">
                        <img src="https://api.iconify.design/material-symbols:arrow-downward.svg" height="30px" onclick="btnUpper(1,2)" />
                    </div>
                </div>
            </div>
            <div class="Floor-container row d-flex justify-content-around">
                <div class="card  Normal-border pt-1 mt-3 lift-1-3 row" style="width: 10rem;">
                    <div class="card-body">
                        <h3>Floor 3</h3>
                    </div>
                </div>
                <div class="arrow d-flex align-items-center col-6">
                    <div class="UpperSide-arrow d-flex m-3">
                        <img src="https://api.iconify.design/majesticons:arrow-up.svg" height="30px" onclick="btnUpper(1,3)" />
                    </div>
                    <div class="LowerSide-arrow d-flex">
                        <img src="https://api.iconify.design/material-symbols:arrow-downward.svg" height="30px" onclick="btnUpper(1,3)" />
                    </div>
                </div>
            </div>
            <div class="Floor-container row d-flex justify-content-around">
                <div class="card  Normal-border pt-1 mt-3 lift-1-4 row" style="width: 10rem;">
                    <div class="card-body">
                        <h3>Floor 4</h3>
                    </div>
                </div>
                <div class="arrow d-flex align-items-center col-6">
                    <div class="UpperSide-arrow d-flex m-3">
                        <img src="https://api.iconify.design/majesticons:arrow-up.svg" height="30px" onclick="btnUpper(1,4)" />
                    </div>
                    <div class="LowerSide-arrow d-flex">
                        <img src="https://api.iconify.design/material-symbols:arrow-downward.svg" height="30px" onclick="btnUpper(1,4)" />
                    </div>
                </div>
            </div>

            <div class="Floor-container row d-flex justify-content-around">
                <div class="card  Normal-border pt-1 mt-3 lift-1-5 row" style="width: 10rem;">
                    <div class="card-body">
                        <h3>Floor 5</h3>
                    </div>
                </div>
                <div class="arrow d-flex align-items-center col-6">
                    <div class="UpperSide-arrow d-flex m-3">
                        <img src="https://api.iconify.design/majesticons:arrow-up.svg" height="30px" onclick="btnUpper(1,5)" />
                    </div>
                    <div class="LowerSide-arrow d-flex">
                        <img src="https://api.iconify.design/material-symbols:arrow-downward.svg" height="30px" onclick="btnUpper(1,5)" />
                    </div>
                </div>
            </div>

            <div class="Floor-container row d-flex justify-content-around">
                <div class="card  Normal-border pt-1 mt-3 lift-1-6 row" style="width: 10rem;">
                    <div class="card-body">
                        <h3>Floor 6</h3>
                    </div>
                </div>
                <div class="arrow d-flex align-items-center col-6">
                    <div class="UpperSide-arrow d-flex m-3">
                        <img src="https://api.iconify.design/majesticons:arrow-up.svg" height="30px" onclick="btnUpper(1,6)" />
                    </div>
                    <div class="LowerSide-arrow d-flex">
                        <img src="https://api.iconify.design/material-symbols:arrow-downward.svg" height="30px" onclick="btnUpper(1,6)" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <h2 class="text-center fw-bolder">Lift 2</h2>
            <div class="Floor-container row d-flex justify-content-around">
                <div class="card  Normal-border pt-1 mt-3 row lift-2-1  @(Model.FirstLiftCurrentFloor == 1 ? "Active-border" : "")" style="width: 10rem;">
                    <div class="card-body">
                        <h3>Floor 1</h3>
                    </div>
                </div>
                <div class="arrow d-flex align-items-center col-6">
                    <div class="UpperSide-arrow d-flex m-3">
                        <img src="https://api.iconify.design/majesticons:arrow-up.svg" height="30px" onclick="btnUpper(2,1)" />
                    </div>
                    <div class="LowerSide-arrow d-flex">
                        <img src="https://api.iconify.design/material-symbols:arrow-downward.svg" height="30px" onclick="btnUpper(2,1)" />
                    </div>
                </div>
            </div>
            <div class="Floor-container row d-flex justify-content-around">
                <div class="card  Normal-border pt-1 mt-3 row lift-2-2" style="width: 10rem;">
                    <div class="card-body">
                        <h3>Floor 2</h3>
                    </div>
                </div>
                <div class="arrow d-flex align-items-center col-6">
                    <div class="UpperSide-arrow d-flex m-3">
                        <img src="https://api.iconify.design/majesticons:arrow-up.svg" height="30px" onclick="btnUpper(2,2)" />
                    </div>
                    <div class="LowerSide-arrow d-flex">
                        <img src="https://api.iconify.design/material-symbols:arrow-downward.svg" height="30px" onclick="btnUpper(2,2)" />
                    </div>
                </div>
            </div>
            <div class="Floor-container row d-flex justify-content-around">
                <div class="card  Normal-border pt-1 mt-3 row lift-2-3" style="width: 10rem;">
                    <div class="card-body">
                        <h3>Floor 3</h3>
                    </div>
                </div>
                <div class="arrow d-flex align-items-center col-6">
                    <div class="UpperSide-arrow d-flex m-3">
                        <img src="https://api.iconify.design/majesticons:arrow-up.svg" height="30px" onclick="btnUpper(2,3)" />
                    </div>
                    <div class="LowerSide-arrow d-flex">
                        <img src="https://api.iconify.design/material-symbols:arrow-downward.svg" height="30px" onclick="btnUpper(2,3)" />
                    </div>
                </div>
            </div>
            <div class="Floor-container row d-flex justify-content-around">
                <div class="card  Normal-border pt-1 mt-3 row lift-2-4" style="width: 10rem;">
                    <div class="card-body">
                        <h3>Floor 4</h3>
                    </div>
                </div>
                <div class="arrow d-flex align-items-center col-6">
                    <div class="UpperSide-arrow d-flex m-3">
                        <img src="https://api.iconify.design/majesticons:arrow-up.svg" height="30px" onclick="btnUpper(2,4)" />
                    </div>
                    <div class="LowerSide-arrow d-flex">
                        <img src="https://api.iconify.design/material-symbols:arrow-downward.svg" height="30px" onclick="btnUpper(2,4)" />
                    </div>
                </div>
            </div>
            <div class="Floor-container row d-flex justify-content-around">
                <div class="card  Normal-border pt-1 mt-3 row lift-2-5" style="width: 10rem;">
                    <div class="card-body">
                        <h3>Floor 5</h3>
                    </div>
                </div>
                <div class="arrow d-flex align-items-center col-6">
                    <div class="UpperSide-arrow d-flex m-3">
                        <img src="https://api.iconify.design/majesticons:arrow-up.svg" height="30px" onclick="btnUpper(2,5)" />
                    </div>
                    <div class="LowerSide-arrow d-flex">
                        <img src="https://api.iconify.design/material-symbols:arrow-downward.svg" height="30px" onclick="btnUpper(2,5)" />
                    </div>
                </div>
            </div>
            <div class="Floor-container row d-flex justify-content-around">
                <div class="card  Normal-border pt-1 mt-3 row lift-2-6" style="width: 10rem;">
                    <div class="card-body">
                        <h3>Floor 6</h3>
                    </div>
                </div>
                <div class="arrow d-flex align-items-center col-6">
                    <div class="UpperSide-arrow d-flex m-3">
                        <img src="https://api.iconify.design/majesticons:arrow-up.svg" height="30px" onclick="btnUpper(2,6)" />
                    </div>
                    <div class="LowerSide-arrow d-flex">
                        <img src="https://api.iconify.design/material-symbols:arrow-downward.svg" height="30px" onclick="btnUpper(2,6)" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">

    var firstLiftCurrentIndex = 1;
    var secondLiftCurrentIndex = 1;
    var currentIndex = firstLiftCurrentIndex;
    var obj = { lift1: 1, lift2: 1 };
    let arrayfloors = new Array();

    function btnUpper(liftNumber, floor) {

        var deffLift1 = Math.abs(floor - obj.lift1);
        var deffLift2 = Math.abs(floor - obj.lift2);

        if (deffLift1 > deffLift2) {
            liftNumber = 2;
            obj.lift2 = floor;
            currentIndex = secondLiftCurrentIndex;
        }
        else {
            liftNumber = 1;
            obj.lift1 = floor
            currentIndex = firstLiftCurrentIndex
        }

        if (floor > currentIndex) {
            console.log("Lift Upper jase");
            var startInterval = setInterval(function () {

                $(".lift-" + liftNumber + "-" + currentIndex).removeClass('Active-border');

                $(".lift-" + liftNumber + "-" + currentIndex).addClass('Current-lift-border');
                $(".lift-" + liftNumber + "-" + (currentIndex - 1)).removeClass('Current-lift-border');

                if (currentIndex == floor) {
                    $(".lift-" + liftNumber + "-" + currentIndex).removeClass('Current-lift-border');
                    $(".lift-" + liftNumber + "-" + currentIndex).addClass('Active-border');
                    currentIndex = floor;
                    clearInterval(startInterval);
                }
                else {
                    currentIndex++;
                }
                console.log(currentIndex);
            }, 3000);
            console.log("Reached");
        }
        else {
            console.log("Lift Niche jase");
            var startInterval = setInterval(function () {

                $(".lift-" + liftNumber + "-" + currentIndex).removeClass('Active-border');

                $(".lift-" + liftNumber + "-" + currentIndex).addClass('Current-lift-border');
                $(".lift-" + liftNumber + "-" + (currentIndex + 1)).removeClass('Current-lift-border');

                if (currentIndex == floor) {
                    $(".lift-" + liftNumber + "-" + currentIndex).removeClass('Current-lift-border');
                    $(".lift-" + liftNumber + "-" + currentIndex).addClass('Active-border');
                    currentIndex = floor;
                    clearInterval(startInterval);
                }
                else {
                    currentIndex--;
                }
                console.log(currentIndex);
            }, 3000);
        }


        if (liftNumber == 1) {
            firstLiftCurrentIndex = floor;
        } else {
            secondLiftCurrentIndex = floor;
        }
    }
</script>